{% extends "base.html" %}
{% load i18n %}

{% block title %} {{ knowledge.question }} {% endblock %}

{% block content %}
<div class="stage"> 
  <h1 class="k-question">{{ knowledge.question }}</h1>
  {% if knowledge.answer_summary %}
  <div class="k-answer-summary">
    <h2>{% trans "Answer Summary" %}:</h2>
    <p>
    {{ knowledge.answer_summary }}
    </p>
  <div>
  {% endif %}
  <div class="k-answer-link">
    <h2>{% trans "Useful Link" %}:<h2>
    <p>
      <a href="{{ knowledge.answer_page_link}}">{{ knowledge.answer_page_title}}</a>
    </p>
  </div>
  <div class="k-tags">
    <h2>{% trans "Tags" %}:<h2>
    <p>
      {{ knowledge.tags }}
    </p>
  </div>

</div> 
<div class="pane"> 
  <div class="contents"> 
    <div class="profile group"> 
      <div> 
          <p class="username">{% with knowledge.user.username as username %}{% blocktrans %}This knowledge is created by {{username}}{% endblocktrans %} {% endwith %}</p> 
      </div> 
    </div> 
  </div> 
</div> 
{% endblock %}
