{% extends "base.html" %}
{% load i18n %}
{% load gravatar %}

{% block title %} {{ knowledge.question }} {% endblock %}

{% block content %}
<div class="column span-18"> 
  <h1 class="k-question">{{ knowledge.question }}</h1>
  {% if knowledge.answer_summary %}
  <div class="k-answer-summary">
    <h2>{% trans "Answer Summary" %}:</h2>
    <p>
    {{ knowledge.answer_summary }}
    </p>
  </div>
  {% endif %}
  <div class="k-answer-link">
    <h2>{% trans "Useful Link" %}:<h2>
    <p>
      <a href="{{ knowledge.answer_page_link}}">{{ knowledge.answer_page_title}}</a>
    </p>
  </div>
  <div class="k-tags">
    <h2>{% trans "Tags" %}:<h2>
    <div>{{ knowledge.tags }}</div>
  </div>
</div> 
<div class="column last"> 
  <div class="contents"> 
    <div class="profile group"> 
      <!--
      <div class="gravatar">
          <img src="{% gravatar_for_user knowledge.user %}"/>
      </div>
      -->
      <div class="text"> 
        {% with knowledge.user.username as username %}
          {% url user_detail object_id=knowledge.user.pk as user_link %}
          {% blocktrans %}This knowledge is created by <a href="{{user_link}}">{{username}}</a>{% endblocktrans %}
        {% endwith %}
      </div> 
    </div> 
  </div> 
</div> 
{% endblock %}
