{% extends "base.html" %}
{% load i18n %}
{% load gravatar %}

{% block title %}
  {% with theuser.username as username %}
    {% blocktrans %}User {{ username }}{% endblocktrans %} - knowhowspot.com
  {% endwith %}
{% endblock %}

{% block content %}
<div class="container">
  <h1>{{theuser.username}}</h1>

  <div class="user_image column span-4">
    <div class="gravatar">
        <img src="{% gravatar_for_user theuser %}"/>
    </div>
  </div>

  <div class="user_knowledge column last">
    <h3>Knowledge</h3>
    <ul>
      {% for knowledge in theuser.knowledge_set.all %}
          <li>
              <a href="{{ knowledge.get_absolute_url }}">{{knowledge.question}}</a>
          </li>
      {% endfor %}
    </ul>
  </div>
</div>
  
{% endblock %}
